.body{
    border: 2px solid black;
    padding: 10px;
    width: 350px;
    height: 300px;
    padding: 40px;
}
.box{
width: 250px;
height: 80px;
font-size: larger;
text-align: center;
}
button{
width: 150px;
height: 60px;
position: relative;
font-size: large;
top: 20px;
}
button:hover{
    color: red;
background-color: black;
}